	<div class="row">
		<div id="resultados">
	   		<% if @pregunta %>
	   			<!--<p> <%= @pregunta %> </p>
	   			<br>-->
	      		<p>Tu solicitud paso a Servicio <%= @tipo %> </p>
	   		<% end %>
		</div>
	</div>