	<div class="row">
		<h1 class="medium-12" id="titulo">Resultado Soporte:</h1>

		<div id="resultados" class="medium-6 columns">
	   		<% if @pregunta %>
	   			<div class="medium-6 colums">
		   			<h3>Utilizando Classifier{palabras}</h3>
		      		<p>Tu solicitud paso a Servicio <%= @respuesta %> </p>
		      	</div>
		      	<div class="medium-6 colums">
		   			<h3>Utilizando Classifier{frases}</h3>
		      		<p>Tu solicitud paso a Servicio <%= @respuesta2 %> </p>
		      	</div>
	   		<% end %>
		</div>

		<div id="resultados" class="medium-6 columns">
	   		<% if @pregunta %>
	   			<h3>Utilizando Jaccard</h3>
	      		<p>Tu solicitud paso a Servicio <%= @tipo %> </p>
	   		<% end %>

		</div>
	</div>