/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	background: url(bg.jpg) no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
	max-height: 90%;
}

div.row{ 
	text-transform: uppercase;
	margin-top: 50px;
}

div#header {
	background-color: #1abc9c;
	margin-top: -3px;
}

div#header h1#titulo {
	color: white;
	padding: 15px;
	text-align: center;
	text-transform: uppercase;
}

div#header small {
	/*color: #2E4856;*/
	color: #2E4856;
}

div.row form{
	color: white;
}

div#resultados {
	text-align: center;
	text-transform: uppercase;
	background-color: black;
	color: white;
	display: inline-block;
	padding: 10px;
}

div.row div blockquote {
	background-color: rgba(44, 62, 80,0.5);
	color: white;
}

input[type="submit"] {
	color: white;
	background-color: #1abc9c;
	padding: 20px;
	box-shadow: 1px 1px #2c3e50,
				2px 2px #2c3e50,
				3px 3px #2c3e50,
				4px 4px #2c3e50,
				5px 5px #2c3e50,
				6px 6px #2c3e50;
	border: none;
	text-transform: uppercase;
}

input[type="submit"]:hover {
		box-shadow: 
				7px 7px #2c3e50,
				8px 8px #2c3e50,
				9px 9px #2c3e50,
				10px 10px #2c3e50,
				11px 11px #2c3e50,
				12px 12px #2c3e50;
	;